<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>997037383909-sk1j2vqhu73g2e93pkipuvdm14v9tero.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.997037383909-sk1j2vqhu73g2e93pkipuvdm14v9tero</string>
	<key>API_KEY</key>
	<string>AIzaSyDO9XxtPolstzhuLewXJR_JCiFRtdDIODk</string>
	<key>GCM_SENDER_ID</key>
	<string>997037383909</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.doSaveMoney.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>do-save-mn</string>
	<key>STORAGE_BUCKET</key>
	<string>do-save-mn.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:997037383909:ios:bd4e447387edb882fd340c</string>
	<key>DATABASE_URL</key>
	<string>https://do-save-mn-default-rtdb.firebaseio.com</string>
</dict>
</plist>